* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 500;
  border: none;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#modules-left,
#modules-center,
#modules-right {
  padding: 0 4px;
}

#custom-logo,
#clock,
#language,
#pulseaudio,
#network,
#battery {
  background: rgba(26, 27, 38, 0.65);
  color: #c0caf5;

  border: 1px solid rgba(122, 162, 247, 0.26);
  border-radius: 14px;

  padding: 6px 14px;
  margin: 0 6px;

  box-shadow: 0 6px 14px rgba(0,0,0,0.28);
  transition: background 0.15s ease, border 0.15s ease;
}

#custom-logo {
  padding: 6px 12px;
  border: 1px solid rgba(122, 162, 247, 0.35);
}

#clock { color: #bb9af7; }
#language { color: #7aa2f7; }
#pulseaudio { color: #7dcfff; }
#network { color: #e0af68; }
#battery { color: #9ece6a; }

#custom-logo:hover,
#clock:hover,
#language:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover {
  background: rgba(22, 22, 30, 0.55);
  border: 1px solid rgba(122, 162, 247, 0.38);
}

#pulseaudio.muted {
  color: rgba(192, 202, 245, 0.55);
}
