* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}

window {
  background: rgba(26, 27, 38, 0.78);
  border: 1px solid rgba(122, 162, 247, 0.28);
  border-radius: 16px;
  box-shadow: 0 18px 40px rgba(0,0,0,0.50);

  min-width: 520px;
  max-width: 520px;
  min-height: 360px;
  max-height: 360px;
}

#outer-box {
  padding: 14px;
}

#input {
  padding: 10px 12px;
  margin-bottom: 12px;

  background: rgba(22, 22, 30, 0.55);
  color: #c0caf5;

  border: 1px solid rgba(122, 162, 247, 0.22);
  border-radius: 14px;

  min-width: 0;
}

#input:focus {
  border: 1px solid rgba(122, 162, 247, 0.45);
}

#scroll {
  margin: 0;
}

#inner-box {
  margin: 0;
}

#entry {
  padding: 9px 12px;
  margin: 6px 0;

  border-radius: 14px;
  background: transparent;
  color: #c0caf5;
}

#entry:selected {
  background: rgba(122, 162, 247, 0.22);
  border: 1px solid rgba(122, 162, 247, 0.28);
}

#text {
  color: #c0caf5;
}

#img {
  margin-right: 10px;
  min-width: 20px;
  min-height: 20px;
}

#prompt {
  color: #bb9af7;
}

#input > image {
  color: #7aa2f7;
}
