* {
  font-family: "Nunito", "Noto Sans", "DejaVu Sans", "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
}

window {
  background: rgba(26, 27, 38, 0.70);
  border: 1px solid rgba(122, 162, 247, 0.35);
  border-radius: 18px;
  box-shadow: 0 16px 34px rgba(0,0,0,0.45);
}

#outer-box {
  padding: 14px;
}

#input {
  padding: 10px 12px;
  margin-bottom: 12px;

  background: rgba(22, 22, 30, 0.45);
  color: #c0caf5;

  border: 1px solid rgba(122, 162, 247, 0.25);
  border-radius: 14px;
}

#input:focus {
  border: 1px solid rgba(122, 162, 247, 0.55);
}

#scroll {
  margin: 0;
}

#inner-box {
  margin: 0;
}

#entry {
  padding: 10px 12px;
  margin: 6px 0;

  border-radius: 14px;
  background: transparent;
  color: #c0caf5;
}

#entry:selected {
  background: rgba(122, 162, 247, 0.22);
  border: 1px solid rgba(122, 162, 247, 0.35);
}

#text {
  color: #c0caf5;
}

#text:selected {
  color: #c0caf5;
}

#img {
  margin-right: 10px;
}

#prompt {
  color: #bb9af7;
}

#input > image {
  color: #7aa2f7;
}
