window {
  background: #1a1b26;
  color: #c0caf5;
  border: 2px solid #24283b;
  border-radius: 14px;
}

#input {
  margin: 12px;
  padding: 10px;
  border-radius: 10px;
  background: #16161e;
  color: #c0caf5;
  border: 1px solid #24283b;
}

#entry {
  padding: 10px;
  margin: 4px 12px;
  border-radius: 10px;
}

#entry:selected {
  background: #7aa2f7;
  color: #1a1b26;
}
